<article>
<b>Your scripts:</b>

<ul id="script_list">
  <% @dashboard.each do |script| %>
    <li class="script-list-item" >
      <span> <%= link_to script[:name], little_script_path(script[:id]) %> </span>
      <span> <%= script[:duration_hours]%> hrs <%= script[:duration_minutes] %> mins </span>
      <button class="go-button" id="<%= script[:id] %>"> START PLAY-THROUGH </button>
      <%= content_tag :section,
          class: "rNode",
          id: script[:id].to_s,
          data: script.to_json do %>
      <% end %>
    </li>
  <% end %>
</ul>

</article>
<%= render 'little_scripts/form' %>

<p>You are at coordinate <span id="coord">0</span> on the line.</p>
<p id="loc"> Location is: </p>
<p>
  <a href="#x=1" id="playthrough-1" onclick="go(1); return false;">Play</a>
</p>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('loc').textContent = window.location.href;
    });

    let currentPage = document.location.pathname === "/" ? 0 : document.location.pathname.slice(-1);
    function go(d) {
        setupPage(currentPage + d);
        history.pushState(currentPage, document.title, '#x=' + currentPage);
    }

    onpopstate = function(event) {
        console.log(event.currentTarget.location.href);
        console.log(event.state);
        setupPage(event.state);

    };

    function setupPage(page) {
        currentPage = page;
        document.title = '#x=' + currentPage;
        document.getElementById('coord').textContent = currentPage;
        document.links[2].href = '#x=' + (currentPage+1);
        // document.links[5].textContent = 'Advance to ' + (currentPage+1);
        // document.links[1].href = '#x=' + (currentPage-1);
        // document.links[1].textContent = 'retreat to ' + (currentPage-1);
    }
</script>