<!DOCTYPE html>
<html>
  <head>
    <title>LittleScripts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        background-color: #f1f1f1;
      }

      #newScriptForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Georgia, serif;
        padding: 40px;
        width: 70%;
        min-width: 300px;
      }

      h1 {
        text-align: center;
      }

      input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Georgia, serif;
        border: 1px solid #aaaaaa;
      }

      /* Mark input boxes that gets an error on validation: */
      input.invalid {
        background-color: deeppink;
      }

      /* Hide all steps by default: */
      .tab {
        display: none;
      }

      button {
        background-color: dodgerblue;
        color: #ffffff;
        border: navy;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Garamond, serif;
        cursor: pointer;
      }

      button:hover {
        opacity: 0.8;
      }

      #prevBtn {
        background-color: #bbbbbb;
      }

      /* Make circles that indicate the steps of the form: */
      .formStep {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
      }

      .formStep.active {
        opacity: 1;
      }

      /* Mark the steps that are finished and valid: */
      .formStep.finish {
        background-color: blue;
      }
    </style>
  </head>

  <body>
  <div id="notice" class="alert alert-info"><%= notice %></div>
  <div class="alert alert-warning"><%= alert %></div>
  <div class="header-links">
    <%if tester_signed_in?  %>
      <%= button_to "Sign Out", destroy_tester_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_tester_session_path %>
      <%= link_to "Make A New Account", new_tester_registration_path %>
    <% end %>


  </div>
    <%= yield %>
  </body>
</html>
