<!DOCTYPE html>
<html>
  <head>
    <title>LittleScripts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="alert alert-info"><%= notice %></div>
  <div class="alert alert-warning"><%= alert %></div>
  <div class="header-links">
    <%if tester_signed_in?  %>
      <%= button_to "Sign Out", destroy_tester_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_tester_session_path %>
      <%= link_to "Make A New Account", new_tester_registration_path %>
    <% end %>


  </div>
    <%= yield %>
  </body>
</html>
